<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EvidenceMaster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EvidenceMaster.Properties.Settings>
            <setting name="savedOutputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="lastCI" serializeAs="String">
                <value />
            </setting>
            <setting name="lastReference" serializeAs="String">
                <value />
            </setting>
            <setting name="lastContents" serializeAs="String">
                <value />
            </setting>
        </EvidenceMaster.Properties.Settings>
    </userSettings>
</configuration>